body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    /*width: 200px */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    /*box-sizing: border-box;*/
}

input[type = "submit"]{
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
}

input[type = "submit"]:hover{
    background-color: #45a049;
}
button{
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    width: 50%;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 auto 10px;
    display: block;
}
button:hover{
    background-color: #45a049;
}


