<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
<div class="login-menu">
    <div class="email-column">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Your email...">
    </div>
    <div class="password-column">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Your password...">
    </div>
    <button type="button" id="login_button">Login</button>
    <a href="http://localhost:3000/register">Register</a>
</div>

</body>
</html>
