<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="/static/css/project-style.css">
    <script src="/static/js/project.js"></script>
</head>
<body>
    <div class="header">
        <p>Home</p>
        <p>Created by: Mom</p>
    </div>
    <div class="body">
        <div class="task">
            <p>Cook</p>
            <p>Status:TODO</p>
            <p>Created by: Mom</p>
            <p>Assigned to: Alex</p>
            <p>Dead end: 18:06 23-01-2024</p>
            <p>Description: Please make for us some chicken with fries</p>
        </div>
        <div class="task">
            <p>Title</p>
            <p>In progress</p>
            <p>Created by</p>
            <p>Dead end</p>
        </div>
        <div class="task">
            <p>Title</p>
            <p>In progress</p>
            <p>Created by</p>
            <p>Dead end</p>
        </div>
        <div class="task">
            <p>Title</p>
            <p>In progress</p>
            <p>Created by</p>
            <p>Dead end</p>
        </div>
    </div>
</body>
</html>