<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find user</title>
    <link rel="stylesheet" href="/static/css/search-user-style.css">
</head>
<body>
<div class="header">
    <div class="search">
        <label>
            <input type="text" placeholder="input username to find">
        </label>
    </div>
</div>
<div class="main">
    <div>
        <p>Dicenice</p>
        <button>Add</button>

    </div>
    <div>
        <p>Elmanuel</p>
        <button>Delete</button></div>
    <div><p>Yuupi</p></div>
    <div><p>Goku</p></div>
    <div><p>Gustavo</p></div>
    <div><p>Gustavo</p></div>
    <div><p>Gustavo</p></div>
    <div><p>Gustavo</p></div>
    <div><p>Gustavo</p></div>
    <div><p>Gustavo</p></div>
</div>
<div class="footer">
    <button class="controls">Previously</button>
    <p>1/50</p>
    <button class="controls">Next</button>
</div>

</body>
</html>